<h1><%= @place.name %></h1>


<% for zebra in @place.posts %>
    <h3> <%= zebra.title %>  </h3>
    <p> <%= zebra.posted_on %> 
    <br>
    <%= zebra.description %> </p>
    
<% end %>

<a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
<br>
<br>
<a href="/places">Back to All Places</a>